.HeroHeadingContainer {
    width: 90%;
    max-width: 90%;
}

.HeroHeading {
    display: flex;
    flex-wrap: wrap;
    font-size: 9rem;
    font-weight: 500;
    z-index: 5;
}

.HeroHeading div {
    display: flex;
}

.HeroHeading span {
    display: block;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease-in-out;
}

.HeroHeadingIn span {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 1920px) {
    .HeroHeadingContainer {
        width: 100%;
        max-width: 100%;
    }

    .HeroHeading {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 1280px), screen and (orientation: portrait) {
    .HeroHeadingContainer {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .HeroHeading {
        font-size: 5.6rem;
    }
}

@media only screen and (max-width: 700px) {
    .HeroHeading {
        font-size: 4.5rem;
    }
}

@media only screen and (max-width: 520px) {
    .HeroHeading {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .HeroHeading {
        font-size: 3rem;
    }
}
