.indexHeroBoxes {
    display: flex;
    position: fixed;
    top: 16.3vh;
    right: 20vw;
}

.heroBox1 {
    animation: box1In cubic-bezier(0.19, 0.77, 0.38, 1) 0.7s 0.1s;
    opacity: 0;
}

.heroBox2 {
    animation: box2In cubic-bezier(0.19, 0.77, 0.38, 1) 0.8s;
    opacity: 0;
}

.heroBox3 {
    animation: box3In cubic-bezier(0.19, 0.77, 0.38, 1) 0.6s 0.2s;
    opacity: 0;
}

.indexHeroBoxes div {
    transition: all ease 0.5s;
    border-radius: 7px;
    margin-left: 2%;
}

.indexHeroBoxes img {
    display: block;
    width: 10.7vw;

    border-radius: 7px;
}

@keyframes box1In {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(160px);
        opacity: 1;
    }
}

@keyframes box2In {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes box3In {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(320px);
        opacity: 1;
    }
}

@media only screen and (max-width: 1920px) {
    .indexHeroBoxes {
        top: 13vh;
    }
}

@media only screen and (max-width: 1280px) {
    .indexHeroBoxes {
        display: none;
    }
}
