.SectionHeading {
    display: flex;
}

.SectionHeading span {
    font-size: 5rem;
    font-weight: 500;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.4s ease-in-out;
}

.SectionHeadingIn span {
    display: block;
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
