.leistungenItem {
    display: flex;
    justify-content: space-between;
    margin-top: 16vh;
}

.leistungenItem h2 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1vh;
}

.leistungenItem p {
    margin-bottom: 1vh;
}

.itemImg {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3vh;
}

.itemImg img {
    width: 100%;
}

.itemInfo {
    width: 60%;
}

.itemTags {
    width: 100%;
}

/* reverse */

.reverse .itemImg {
    order: 2;
}

.reverse .itemInfo {
    order: 1;
}

@media only screen and (max-width: 1280px) {
    .leistungenItem {
        flex-direction: column;
        align-items: center;
        margin-top: 8vh;
    }

    .itemImg {
        width: 60%;
        order: 0 !important;
        margin-bottom: 5vh;
    }

    .itemInfo {
        width: 100%;
        order: 1 !important;
    }
}

@media only screen and (max-width: 768px) {
    .leistungenItem h2 {
        font-size: 3rem !important;
    }

    .itemImg {
        width: 35%;
    }
}

@media only screen and (max-width: 600px) {
    .leistungenItem h2 {
        font-size: 3rem !important;
    }
}

@media only screen and (max-width: 500px) {
    .leistungenItem h2 {
        font-size: 2.25rem !important;
    }
}
