.aboutSection {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.aboutSection h1 {
    margin-bottom: 4vh;
}

.aboutSection h2 {
    margin-bottom: 1vh;
}

.aboutSection p {
    margin-top: 1vh;
}

.aboutInfo {
    order: 0;
    width: 40%;
}

.aboutInfoImg {
    width: 50%;
    overflow: hidden;
    border-radius: 7px;
}

.aboutInfoImg img {
    border-radius: 7px;
}

.aboutUmweltschutz {
    width: 60%;
}

.aboutTracker {
    width: 33%;
}

.imgCaption {
    display: block;
    font-family: "Montserrat";
    font-size: 1rem;
    color: #636363;
    margin-top: 1vh;
}

@media only screen and (max-width: 1780px) {
    .aboutSection1 {
        flex-direction: column;
    }

    .aboutInfo {
        width: 100%;
    }

    .aboutInfoImg {
        width: 100%;
        margin-top: 5vh;
    }
}

@media only screen and (max-width: 1280px) {
    .aboutSection {
        flex-direction: column;
    }

    .aboutUmweltschutz {
        width: 100%;
    }

    .aboutTracker {
        width: 100%;
        margin-top: 10vh;
    }
}

@media only screen and (max-width: 600px) {
    .aboutSection h2 {
        font-size: 3rem !important;
    }
    .aboutSection h3 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .aboutSection h2 {
        font-size: 2.5rem !important;
    }

    .aboutSection h3 {
        font-size: 2rem;
    }
}
