.aboutSection {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.aboutSection h1 {
    margin-bottom: 4vh;
}

.aboutSection h2 {
    margin-bottom: 1vh;
}

.aboutSection p {
    margin-top: 1vh;
}

.aboutInfo {
    order: 0;
    width: 46%;
}

.aboutQuote {
    margin-top: 4vh;
}

.aboutQuote p {
    font-size: 1.5rem;
    font-weight: 300;
}

.aboutQuote span {
    color: #636363;
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 1.5vh;
}

.aboutInfoImg {
    width: 50%;
    max-height: 740px;
    overflow: hidden;
    border-radius: 7px;
}

.aboutUmweltschutz {
    width: 60%;
}

.aboutTracker {
    width: 33%;
}

@media only screen and (max-width: 1280px) {
    .aboutSection {
        flex-direction: column;
    }

    .aboutInfo {
        width: 100%;
    }

    .aboutInfoImg {
        width: 100%;
        margin-top: 10vh;
    }

    .aboutUmweltschutz {
        width: 100%;
    }

    .aboutTracker {
        width: 100%;
        margin-top: 10vh;
    }
}
