.indexHero {
    margin-top: 22vh;
}

.headingHeroSub {
    width: 40%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* ABOUT */

.indexAbout {
    display: flex;
    justify-content: flex-start;
    margin-top: 22vh;
}

.indexAboutLeft {
    width: 25%;
    margin-right: 6%;
}

.indexAbout h3 {
    line-height: 2.5rem;
}

.indexAbout p {
    width: 66%;
}

/* LEISTUNGEN */

.LeistungenItems {
    display: flex;
    justify-content: space-between;
    margin-top: 9vh;
    flex-wrap: wrap;
}

/* PROJEKTE */

/* FAQ */

.indexFaqItems {
    margin-top: 1.5rem;
    font-family: "Montserrat";
}

.indexFaqItems h3 {
    font-weight: 500;
}

/* KONTAKT */

.indexKontakt {
    margin-bottom: 20vh;
}

.kontaktMail {
    display: block;
    color: #000000;
    font-weight: 500;
    font-size: 2.1rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 1280px), screen and (orientation: portrait) {
    .LeistungenItems {
        display: flex;
        justify-content: center;
        margin-top: 4vh;
        flex-wrap: wrap;
    }
}
