.impressumContent {
    font-family: "Montserrat";
}

.impressum a {
    color: #636363;
}
.impressum h1 {
    margin-bottom: 2vh;
}

.impressum h2 {
    font-size: 2rem;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
}

.impressum p {
    margin-bottom: 2vh;
}

@media only screen and (min-width: 1921px) {
    .impressumContent {
        padding-bottom: 4vh;
    }
}

@media only screen and (min-width: 2561px) {
    .impressumContent {
        padding-bottom: 22vh;
    }
}
