.kontakt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kontaktInfo {
    width: 33%;
}

.kontaktInfo a {
    font-family: "ClashDisplay";
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
}

.kontaktInfo p {
    margin-top: 0.5vh;
}

.kontakt form {
    width: 55%;
}

.kontakt label {
    margin-bottom: 1vh;
}

.kontakt input,
.kontakt textarea {
    border: 1px solid #707070;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    margin-bottom: 4vh;
}

.kontakt textarea {
    resize: none;
}

.kontakt button {
    margin-left: auto;
}

.Mail,
.Tel {
    display: block;
    margin-top: 3vh;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.Mail {
    margin-top: 0vh;
    margin-bottom: 3vh;
}

@media only screen and (max-width: 1280px) {
    .kontakt {
        flex-direction: column;
    }
    .kontaktInfo {
        width: 100%;
        margin-bottom: 5vh;
    }
    .kontakt form {
        width: 100%;
    }
}
