.kontakt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kontaktInfo {
    width: 33%;
}

.kontaktInfo h1 {
    margin-bottom: 2vh;
}

.kontaktInfo svg {
    margin-right: 15px;
}

.kontaktInfo a {
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
}

.kontaktInfo p {
    margin-top: 0.5vh;
}

.kontakt form {
    width: 55%;
}

.kontakt label {
    margin-bottom: 1vh;
}

.kontakt input,
.kontakt textarea {
    border: 1px solid #707070;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    margin-bottom: 4vh;
}

.kontakt textarea {
    resize: none;
}

.kontakt button {
    margin-left: auto;
}

.kontaktInfoItems {
    margin-top: 3vh;
}

.kontaktInfoItems span {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.submitPopup {
    position: absolute;
    transform: translate(-7.5%, 0);
    background-color: #eeeeee;
    border-radius: 7px;
    border: solid 1px #707070;
    color: black;
    padding: 1rem 2rem;
    opacity: 0;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.submitPopupIn {
    opacity: 1;
    transform: translate(-7.5%, -110%);
}

@media only screen and (max-width: 1920px) {
    .kontaktInfo a {
        font-size: 1.25rem;
        font-weight: 500;
        color: black;
    }
}

@media only screen and (max-width: 1280px) {
    .kontakt {
        flex-direction: column;
    }
    .kontaktInfo {
        width: 100%;
        margin-bottom: 5vh;
    }
    .kontakt form {
        width: 100%;
    }
}

@media only screen and (max-width: 410px) {
    .kontaktInfoItems span {
        transform: translateY(-3px);
    }
    .kontaktInfoItems a {
        font-size: 1rem;
    }
}
