.projektHeading {
    width: 100%;
    margin-bottom: 2vh;
}

.projektHeading h1 {
    margin-bottom: 2vh;
}

.projektHeading a {
    margin-top: 3vh;
}

.infoContainer {
    margin-top: 6vh;
}

.projektInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.projektInfo1 {
    margin-bottom: 4vh;
}

.projektInfo3 {
    margin-top: 8vh;
}

.projektInfo h2 {
    font-size: 2.8rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.projektInfo p {
    margin-top: 0.5vh;
    width: 100%;
}

.projektTags {
    width: 100%;
    margin-left: auto;
    margin-top: 2vh;
}

.projektImgs {
    margin-top: 10vh;
}

.projektImgs img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.imgContainer {
    margin-top: 5vh;
}

.imgContainer div {
    overflow: visible !important;
}

.link {
    margin-top: 4vh;
}
