.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40vw);
    height: 80px;
    padding: 2rem 20vw;
    background-color: #eeeeee;
}

.FooterLeft {
    display: flex;
    color: #000000;
}

.FooterLeft p {
    color: #000000;
    margin-right: 4rem;
}

.FooterLeft a {
    color: #000000;
    font-size: 1.25rem;
    margin-right: 4rem;
}

.FooterRight {
    width: 180px;
    min-width: 180px;
}

@media only screen and (max-width: 1000px) {
    .FooterLeft a {
        font-size: 1rem;
        margin-right: 1.5rem;
    }

    .FooterRight {
        width: 140px;
        min-width: 140px;
    }
}

@media only screen and (max-width: 600px) {
    .Footer {
        width: calc(100% - 20vw);
        padding: 2rem 10vw;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 430px) {
    .FooterRight {
        width: 120px;
        min-width: 120px;
    }
}
