.indexContent {
}

.indexHero {
    margin-top: 22vh;
}

.headingHero {
    font-size: 7rem;
    font-weight: 300;
}

.headingHeroSub {
    width: 40%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
