.Navbar {
    width: calc(100% - 40vw);
    height: 80px;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: 0%;
    padding: 1rem 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all ease-in-out 0.15s;
    transform: translateY(0);
}

.Hidden {
    transform: translateY(-100%);
}

.Navbar svg {
    object-fit: contain;
    height: 50px;
}

.NavbarLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.NavbarLink::after {
    content: "";
    display: block;
    width: 0;
    background-color: black;
    margin-top: 0.1rem;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border-bottom: solid 1px white;
    margin-left: auto;
}

.NavbarLink:hover:after {
    width: 100%;
    border-bottom: solid 1px black;
    margin-left: 0;
    margin-right: auto;
}

.NavbarLink:focus:after {
    width: 100%;
    border-bottom: solid 1px black;
    margin-left: 0;
    margin-right: auto;
}

.NavbarLinks a {
    color: black;
}

.NavbarLink {
    transition: all ease-in-out 0.3s;
}

.NavActive::after {
    content: "";
    display: block;
    width: 100%;
    background-color: black;
    margin-top: 0.1rem;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border-bottom: solid 1px black;
    margin-right: auto;
    margin-left: 0;
}

.NavActive:hover:after {
    width: 0%;
    margin-left: auto;
    margin-right: 0;
}
