.Navbar {
    width: calc(100% - 40vw);
    height: 80px;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: 0%;
    padding: 1rem 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all ease-in-out 0.15s;
    transform: translateY(0);
}

.Hidden {
    transform: translateY(-100%) !important;
}

.Navbar svg {
    object-fit: contain;
    height: 40px;
    transition: all ease-in-out 0.15s;
}

.Navbar svg:hover {
    fill: #024a44;
}

@media only screen and (max-width: 600px) {
    .Navbar {
        width: calc(100% - 20vw);
        padding: 1rem 10vw;
        height: 60px;
    }
}
